.navigbar{
	padding:10px;
	height:60px;
	width:100%;
	display:flex;
	align-items:center;
}

button{
	background-color:rgb(255, 255, 255);
	height:55px;
	margin:10px;
	width:150px;
	padding:10px;
	font-size:20px;
	border-radius: 27px;
	
	border: none;
}